<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Jasmine Spec Runner</title>
  <link rel="shortcut icon" type="image/png" href="<%= temp %>/jasmine_favicon.png">
<% css.forEach(function(style){ %>
  <link rel="stylesheet" type="text/css" href="<%= style %>">
<% }) %>

</head>
<body>

<div id="app1" ng-app="f1">
    <div class="age">{{user.feeling}}{{user.age}}</div>
    <div class="name"> {{user.name}}</div>
    <ul id="booklist" type="{{books.type}}" ng-controller="booklist">
    	book : <li ng-repeat="book in books">{{book.name}}<span ng-repeat="author in book.author">{{author}}</span></li>
    </ul>

    <ul ng-controller="userInfo">
    	<li id="userName">name: {{user.name}} </li>
    	<li id="userAge">age: {{userInfo.age}} </li>
    </ul>
</div>

<div id="app2" ng-app="f2">
    <h1>Hello, {{name}}</h1>
</div>


<% with (scripts) { %>
  <% [].concat(polyfills, jasmine, boot, vendor, helpers, src, specs,reporters).forEach(function(script){ %>
  <script src="<%= script %>"></script>
  <% }) %>
<% }; %>
</body>
</html>
