<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Jasmine Spec Runner</title>
  <link rel="shortcut icon" type="image/png" href="<%= temp %>/jasmine_favicon.png">
<% css.forEach(function(style){ %>
  <link rel="stylesheet" type="text/css" href="<%= style %>">
<% }) %>

</head>
<body>
<style>
viewport view {display:none}
viewport view[active="true"]{display:block}
</style>
<viewport main="true" >
  <view id="view1" name="name1" active="true">
    <div id="app1" ng-app="f1">
        <div class="age">{{user.feeling}}{{user.age}}</div>
        <div class="name"> {{user.name}}</div>
        <ul id="booklist" type="{{books.type}}" ng-controller="booklist">
        	book : <li ng-repeat="book in books">{{book.name}}<span ng-repeat="author in book.author">{{author}}</span></li>
        </ul>

        <ul ng-controller="userInfo">
        	<li id="userName">name: {{user.name}} </li>
        	<li id="userAge">age: {{userInfo.age}} </li>
        </ul>
    </div>
  </view>
  <view id="view2" name="name2">
    <div id="app2" ng-app="f2">
        <h1>Hello, {{name}} {{result}}</h1>
    </div>
  </view>

  <view id="view3" name="name3">
    <div id="app3" ng-app="f3">
        <input id="ipt" ng-module="{{name}}" />
        <h1 id="hh">Hello, {{name}} {{result}}</h1>
    </div>
  </view>

  <view id="view4" name="name4">
    <div id="app4" ng-app="f4">
        <h1 id="eventResult" ng-event="click addResult({{step}},'ok')" >{{result}}{{msg}}</h1>
    </div>
  </view>
  
</viewport>

<% with (scripts) { %>
  <% [].concat(polyfills, jasmine, boot, vendor, helpers, src, specs,reporters).forEach(function(script){ %>
  <script src="<%= script %>"></script>
  <% }) %>
<% }; %>
</body>
</html>
