<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Jasmine Spec Runner</title>
  <link rel="shortcut icon" type="image/png" href="<%= temp %>/jasmine_favicon.png">
<% css.forEach(function(style){ %>
  <link rel="stylesheet" type="text/css" href="<%= style %>">
<% }) %>

</head>
<body>
<style>
viewport view {display:none}
viewport view[active="true"]{display:block}
</style>


<viewport main="true">
  <view name="page_default" >
    <p>Hello</p>
    <span class='flower'>{{flower}}</span>
  </view>
  <view name="page_list"></view>
  <view name="page_detail"></view>
  <view name="page_booking"></view>
  <view name="page_order"></view>
</viewport>

<viewport class=".footer">
    <view name="side_footer">
        {{hi}}{{$service.list.data.msg}}
    </view>
</viewport>

<% with (scripts) { %>
  <% [].concat(polyfills, jasmine, boot, vendor, helpers, src).forEach(function(script){ %>
  <script src="<%= script %>"></script>
  <% }) %>
<% }; %>

<script>
    ;(function(){
      b.router.set({
        rule : '/index/:info',
        viewName : 'page_default'
      })

      b.router.set({
        rule : '/list/:city',
        viewName : 'page_list'
      })

      b.router.set({
        rule : '/detail/:roomid',
        viewName : 'page_detail'
      })

      b.router.set({
        rule : '/booking',
        viewName : 'page_booking'
      })

      b.router.set({
        rule : '/order',
        viewName : 'page_order'
      })

      b.router.set({
        rule : '/remote_page_map',
        viewName : 'remote_page_map'
      })

      b.router.set({
        rule : '/remote_page_list',
        viewName : 'page_order'
      })

      b.router.set({
        rule : '/remote_page_detail',
        viewName : 'page_order'
      })

      b.router.set({
        rule : '/remote_page_scope',
        viewName : 'remote_page_scope'
      })

    }());
</script>

<% with (scripts) { %>
  <% [].concat(specs,reporters).forEach(function(script){ %>
  <script src="<%= script %>"></script>
  <% }) %>
<% }; %>
</body>
</html>
